@-moz-document url(about:blank), url(about:newtab), url(about:home) {
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
		background: var(--background-color) !important;
	}

	.icon-settings {
		display: none !important;
	}

	:root {
		scrollbar-width: none !important;
	}
}

/* Transparent Theme for Dark Mode YouTube */
@-moz-document domain(youtube.com) {
	html:not(.style-scope)[dark],
	:not(.style-scope)[dark] {
		--yt-app-background: var(--background-color) !important;
		--yt-main-app-background: var(--background-color) !important;
		--yt-main-app-background-tmp: var(--background-color) !important;
		--yt-guide-background: var(--background-color) !important;
	}
}
