@import url("./variables.css");
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
		background: var(--key-color) !important;
	}

	.icon-settings {
		display: none !important;
	}

	.personalize-button {
		display: none !important;
	}

	:root {
		scrollbar-width: none !important;
	}
}

@-moz-document url(about:privatebrowsing) {
	.showPrivate, .vpn-promo {
		display: none !important;
	}

	html.private {
		--in-content-page-background: var(--key-color) !important;
	}

	:root {
		scrollbar-width: none !important;
	}
}

#viewer, .pdfViewer {
	background-color: var(--key-color) !important;
}

/* Transparent Theme for Dark Mode YouTube */
@-moz-document domain(youtube.com) {
	html:not(.style-scope)[dark],
	:not(.style-scope)[dark] {
		--yt-spec-general-background-a: var(--key-color) !important;
		--yt-spec-general-background-b: var(--key-color) !important;
		--yt-spec-general-background-c: var(--key-color) !important;
		--yt-spec-brand-background-solid: var(--key-color) !important;
		--yt-spec-brand-background-primary: var(--key-color) !important;
		--yt-spec-brand-background-secondary: var(--key-color) !important;
		--yt-searchbox-background: var(--key-color) !important;
		--ytd-searchbox-legacy-button-color: var(--key-color) !important;
		--yt-app-background: var(--key-color) !important;
	}

	:root {
		scrollbar-width: thin !important;
		scrollbar-color: #272727 var(--key-color) !important;
	}
}
