@import url("./variables.css");
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
		background: var(--background-color) !important;
	}

	.icon-settings {
		display: none !important;
	}

	:root {
		scrollbar-width: none !important;
	}
}

@-moz-document url(about:privatebrowsing) {
	.showPrivate {
		display: none !important;
	}

	html.private {
		--in-content-page-background: var(--background-color) !important;
	}

	:root {
		scrollbar-width: none !important;
	}
}

#viewer, .pdfViewer {
	background-color: var(--background-color) !important;
}

/* Transparent Theme for Dark Mode YouTube */
@-moz-document domain(youtube.com) {
	html:not(.style-scope)[dark],
	:not(.style-scope)[dark] {
		--yt-spec-general-background-a: var(--background-color) !important;
		--yt-spec-general-background-b: var(--background-color) !important;
		--yt-spec-general-background-c: var(--background-color) !important;
		--yt-spec-brand-background-solid: var(--background-color) !important;
		--yt-spec-brand-background-primary: var(--background-color) !important;
		--yt-spec-brand-background-secondary: var(--background-color) !important;
		--yt-searchbox-background: var(--background-color) !important;
		--ytd-searchbox-legacy-button-color: var(--background-color) !important;
	}

	:root {
		scrollbar-width: thin !important;
		scrollbar-color: #272727 var(--background-color) !important;
	}
}

@-moz-document domain(github.com) {
	html, iframe, img, video, *[style*="url"] {
		filter: invert(1) hue-rotate(180deg)/* brightness(105%) contrast(105%) */!important;
	}
	body {
		background-color: var(--background-color) !important;
	}
}
